# Ignore all image files
*.jpeg
*.jpg
*.png
*.gif
*.svg
*.webp
!erickportfolio.jpeg

# Ignore LibreOffice/OpenOffice lock files
.~lock.*

# Ignore document file you don't want to track
portfolio.docx
